.idea
/app/Config/database.php
/app/Config/facebook.php
/app/Config/twitter.php
/app/tmp/cache/*_*_*
/app/tmp/cache/*_*
/app/tmp/logs/*
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/cache/minify/*
/app/webroot/uploads/*
/app/webroot/uploads/.tmb
/app/webroot/uploads/userfiles/*
/app/webroot/thumbs/*

/app/webroot/uploads.zip

/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags

/app/webroot/markup/*
!empty
