<div class="palmPayTabTitle left fullWidth">
    <a href="/users/account" class="palmPayTabTitleItem upper left {{ account ? 'active' }}">
        <div class="tableDiv">
            <div class="tableCell">
                <strong>Account info</strong>
            </div>
        </div>
    </a>
    <a href="/users/orders" class="palmPayTabTitleItem upper left {{ orders ? 'active' }}">
        <div class="tableDiv">
            <div class="tableCell">
                <strong>Orders</strong>
            </div>
        </div>
    </a>
    <a href="/users/rewards" class="palmPayTabTitleItem upper left {{ rewards ? 'active' }}">
        <div class="tableDiv">
            <div class="tableCell">
                <strong>Rewards</strong>
            </div>
        </div>
    </a>
</div>