<div class="quick-contact">
    <div class="open-contact">
        <span><i class="fa fa-comment"></i> contact us</span>
    </div>
    <a href="javascript:" class="close-contact"></a>
    <strong>quick contact</strong>
    <span>Please, to get a quote fill out the form below.</span>
    <br>
    <br>
    <form class="form-inline contact-form" method="POST">
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="data[Contact][first_name]" class="form-control" placeholder="Full Name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="email" name="data[Contact][email]" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="data[Contact][phone]" class="form-control" placeholder="Phone">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea class="form-control" name="data[Contact][msg]" rows="7" placeholder="Type your message here"></textarea>
            </div>
        </div>
        <div class="btn-holder text-center">
            <button style="margin-right: 0;" type="submit" class="pull-right btn btn btn-green submit-contact-form">Get a Quote</button>
        </div>
    </form>
</div>
