<!DOCTYPE html>
<html lang="en" class="main-body">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>{{ 'Scooters2u' }}</title>
    <meta name="description" content="{{ metaDesc }}" />
    <meta name="keywords" content="{{ metaKey }}" />
    {%if news%}
    <meta property="og:title"              content="{{news.Tiding.title}}" />
    <meta property="og:description"        content="{{news.Tiding.subtitle}}" />
    {%endif%}
    <script async src="https://static.addtoany.com/menu/page.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&amp;language=en"></script>

    {{ minify.css([
        'reset',
        'font-awesome.min',
        'jquery.fullpage.min',
        'jquery.fancybox',
        'slick',
        'animate',
        'jquery.selectBox',
        'grid',
        'style',
        'selectBox-new',
        'get-started',
        'style-new',
        'jquery-ui',
        'jquery.pnotify.default',
        'swiper.min',
        'toastr'

    ])
    }}

    {{ html.script([
        'jquery-1.11.1',
        'scrolloverflow.min',
        'jquery.fullpage.min',
        'jquery.validate',
        'jquery.fancybox.pack',
        'slick',
        'wow.min',
        'jquery.selectBox',
        'script',
        'functions',
        'jquery-ui',
        'details',
        'jquery.pnotify.min',
        'swiper.min',
        'toastr.min',
        'rentalFees'
        ])
    }}


    {{ session.flash('flash') }}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66849311-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>
{% if page.key != 'home' %}
<div class="wrapp-inside">
{% endif %}
{{ not isMobile ? _view.element('header') }}
{{ isMobile ? _view.element('headerMobile') }}
<div id="fullPage">
{{ _view.fetch('content') }}
{% if not isMobile %}
{{ _view.element('footer') }}
{%endif%}
</div>
{% if page.key != 'home' %}
</div>
{% endif %}


</body>
</html>
