<!DOCTYPE html>
<html lang="en" class="main-body">
<head>
    <meta charset="UTF-8">
    <title>Products On The Go</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" media="all" href="css/reset.css">
    <link type="text/css" rel="stylesheet" media="all" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="css/slick.css">
    <link type="text/css" rel="stylesheet" media="all" href="css/style.css">
    <link type="text/css" rel="stylesheet" media="all" href="css/grid.css">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.tinyscrollbar.js"></script>
    <script src="js/jquery.selectbox.js"></script>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnWVcGVryg70sHK-ffva_rwyycVC6y-QE&amp;sensor=true&amp;language=en"></script>-->
    <script src="js/functions.js"></script>
</head>
<body>
<div class="headerSection left fullWidth backgroundImage" style="background-image:url('img/header-homepage.png');">
    <div class="navigation">
        <div class="container ">
            <a href="index.html" class="logo left">
                <img src="img/logo.png" alt="" title="">
            </a>
            <span class="navBurger">
                <span></span>
            </span>
            <div class="nav right">
                <div class="socHeader right">
                    <a href="" class="right login">Login</a>
                    <a href="" class="right logout">Logout</a>
                    <a href="shopping1.html" class="shopLink right">
                        <img src="img/shop-ico.png" alt="" title="">
                        <span>2</span>
                    </a>
                    <a href="account.html" class="socLink userIco right">
                        <i class="fa fa-user"></i>My Account
                    </a>
                    <a href="" class="socLink right">
                        <img src="img/pt.png" alt="" title="">
                    </a>
                    <a href="" class="socLink right">
                        <img src="img/tw.png" alt="" title="">
                    </a>
                    <a href="" class="socLink right">
                        <img src="img/fb.png" alt="" title="">
                    </a>
                </div>
                <div class="menu right">
                    <ul>
                        <li>
                            <a href="">COLLECTIONS</a>
                        </li>
                        <li>
                            <a href="">SALE</a>
                        </li>
                        <li>
                            <a href="/our-story">OUR STORY</a>
                        </li>
                        <li>
                            <a href="/support">SUPPORT</a>
                        </li>
                        <li>
                            <a href="/blog">BLOG</a>
                        </li>
                        <li>
                            <a href="/contact-us">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="headerContent left fullWidth">
        <div class="container">
            <div class="tableDiv">
                <div class="tableCell">
                    <h1 class="customTitle">WHERE ARE YOU ON THE GO?</h1>
                    <div class="brandsHeader">
                        <div class="item firstBrand">
                            <div class="brandIco backgroundImage left fullWidth" style="background-image:url('img/header1.png');"></div>
                            <div class="brandInfo">
                                <span class="left fullWidth brandTitle textCenter">Little Toes On The Go™</span>
                                <span class="left fullWidth brandText textCenter">
                                    Little Toes on the Go™ is just what busy new parents need. The collection offers three choices for the busy mom or dad.
                                </span>
                                <a href="" class="moreLink">More</a>
                            </div>
                        </div>
                        <div class="item secondBrand">
                            <div class="brandIco backgroundImage left fullWidth" style="background-image:url('img/header2.png');"></div>
                            <div class="brandInfo">
                                <span class="left fullWidth brandTitle textCenter">Little Toes On The Go™</span>
                                <span class="left fullWidth brandText textCenter">
                                    Little Toes on the Go™ is just what busy new parents need. The collection offers three choices for the busy mom or dad.
                                </span>
                                <a href="" class="moreLink">More</a>
                            </div>
                        </div>
                        <div class="item thirdBrand">
                            <div class="brandIco backgroundImage left fullWidth" style="background-image:url('img/header3.png');"></div>
                            <div class="brandInfo">
                                <span class="left fullWidth brandTitle textCenter">Little Toes On The Go™</span>
                                <span class="left fullWidth brandText textCenter">
                                    Little Toes on the Go™ is just what busy new parents need. The collection offers three choices for the busy mom or dad.
                                </span>
                                <a href="" class="moreLink">More</a>
                            </div>
                        </div>
                        <div class="item fourthBrand">
                            <div class="brandIco backgroundImage left fullWidth" style="background-image:url('img/header4.png');"></div>
                            <div class="brandInfo">
                                <span class="left fullWidth brandTitle textCenter">Little Toes On The Go™</span>
                                <span class="left fullWidth brandText textCenter">
                                    Little Toes on the Go™ is just what busy new parents need. The collection offers three choices for the busy mom or dad.
                                </span>
                                <a href="" class="moreLink">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="slideDown">
            <i class="fa fa-angle-down"></i>
        </span>
    </div>
</div>
<div class="aboutSection left fullWidth backgroundImage" style="background-image:url('img/about-bg.jpg');">
    <div class="container">
        <div class="aboutVideo left half">
            <iframe src="https://www.youtube.com/embed/N5uwGN-MN4w" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="aboutText right half">
            <div class="simpleText">
                <h2>About</h2>
                <p>Products on the Go<sup>®</sup> creates and markets a series of litestyle consumer products that make lite easier, less stressful, and more convenient. The Company's luxury brands allow consumers to reduce the hassle, shopping time, and stress related to having to purchase groups of items separately. Our collections are distributed to hotels, resorts, cruise ships, bridal boutiques, specialty gift shops, and more.</p>
            </div>
        </div>
    </div>
</div>
<div class="footerSection left fullWidth">
    <div class="container">
        <div class="item">
            <div class="footerCategory left fullWidth">
                contact
            </div>
            <ul class="contactList">
                <li>
                    <div class="ico">
                        <div class="tableDiv">
                            <div class="tableCell">
                                <img src="img/loc-ico.png" alt="" title="">
                            </div>
                        </div>
                    </div>
                    2725 Lorem dolor ipsum<br>Miami, Florida. USA
                </li>
                <li>
                    <div class="ico">
                        <div class="tableDiv">
                            <div class="tableCell">
                                <img src="img/phone-ico.png" alt="" title="">
                            </div>
                        </div>
                    </div>
                    1-855-5-ON-THE-GO
                </li>
                <li>
                    <div class="ico">
                        <div class="tableDiv">
                            <div class="tableCell">
                                <img src="img/mail-ico.png" alt="" title="">
                            </div>
                        </div>
                    </div>
                    info@products-onthego.com
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="footerCategory left fullWidth">
                my account
            </div>
            <ul>
                <li>
                    <a href="">My Account</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="">My Cart</a>
                </li>
                <li>
                    <a href="">Wishlist</a>
                </li>
                <li>
                    <a href="">Checkout</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="footerCategory left fullWidth">
                our services
            </div>
            <ul>
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <a href="">Delivery Information</a>
                </li>
                <li>
                    <a href="">Privacy</a>
                </li>
                <li>
                    <a href="">Terms and Conditions</a>
                </li>
                <li>
                    <a href="">Return Policy</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="footerCategory left fullWidth">
                information
            </div>
            <ul>
                <li>
                    <a href="">Little Toes on the Go</a>
                </li>
                <li>
                    <a href="">Sunshine on the Go</a>
                </li>
                <li>
                    <a href="">First Class Experience on the Go</a>
                </li>
                <li>
                    <a href="">Girl Power on the Go</a>
                </li>
                <li>
                    <a href="" class="redFont">SALE</a>
                </li>
            </ul>
        </div>
        <div class="left fullWidth">
            <span class="copy left">© 2015 Products On The Go</span>
            <ul class="footerSoc right ">
                <li>
                    <a href="" class="socLink left">
                        <img src="img/pt.png" alt="" title="">
                    </a>
                </li>
                <li>
                    <a href="" class="socLink left">
                        <img src="img/tw.png" alt="" title="">
                    </a>
                </li>
                <li>
                    <a href="" class="socLink left">
                        <img src="img/fb.png" alt="" title="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal loginModal">
    <div class="tableDiv">
        <div class="tableCell">
            <div class="modalClose modalCloseDiv"></div>
            <div class="modalContent">
                <div class="modalClose modalCloseLink"></div>
                <div class="modalTitle">
                    login
                </div>
                <a class="loginAS left fullWidth" href=""><i class="fa left fa-facebook"></i>login with facebook</a>
                <span class="orBlock left fullWidth"><span>or</span></span>
                <div class="palmCustomInput imageInput left fullWidth">
                    <i class="fa fa-envelope"></i>
                    <input type="email" placeholder="Email">
                </div>
                <div class="palmCustomInput imageInput left fullWidth">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <div class="palmCustomCheck left half">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <div class="palmCustomCheck forgotLink left half">
                    <a href="">Forgot Password?</a>
                </div>
                <input type="submit" class="button btnBlack left fullWidth" value="Login">
                <div class="accountHaveBlock left fullWidth">
                    Don't have an account
                    <a href="" class="register">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal registerModal">
    <div class="tableDiv">
        <div class="tableCell">
            <div class="modalClose modalCloseDiv"></div>
            <div class="modalContent">
                <div class="modalClose modalCloseLink"></div>
                <div class="modalTitle">
                    Register
                </div>
                <a class="loginAS left fullWidth" href=""><i class="fa left fa-facebook"></i>Register with facebook</a>
                <span class="orBlock left fullWidth"><span>or</span></span>
                <div class="palmCustomInput imageInput left fullWidth">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Full Name">
                </div>
                <div class="palmCustomInput imageInput left fullWidth">
                    <i class="fa fa-envelope"></i>
                    <input type="email" placeholder="Email">
                </div>
                <div class="palmCustomInput imageInput left fullWidth">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <div class="palmCustomCheck left fullWidth forgotLink textLeft">
                    <input type="checkbox" id="agree">
                    <label for="agree" class="left fullWidth textLeft">I agree <a href="" class="textLeft">Terms</a></label>
                </div>
                <input type="submit" class="button btnBlack left fullWidth" value="Register">
                <div class="accountHaveBlock left fullWidth">
                    Have an account
                    <a href="" class="register">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>