<div class="wrapp-grid-img">
    <div class="row">
        <div class="box col-md-8">
            <div class="text-right">
                <span data-wow-offset="500" class="bike-img wow animated fadeInLeft"><img src="img/img-6.png" alt=""></span>
                <img src="img/img-4.jpg" alt="">
                <div class="clearfix">
                    <a href="#" class="button btnRed">BOOK NOW</a>
                </div>
            </div>
        </div>
        <div class="box col-md-4">
            <div class="text-left">
                <img data-wow-offset="500" class="wow animated fadeInRight" src="img/img-5.jpg" alt="">
                <img data-wow-offset="500"  class="wow animated fadeInRight" src="img/img-6.jpg" alt="">
            </div>
        </div>
    </div>
</div>