<div class="about-bl fullWidth">
    <div style="background-image: url('{{ page.img }}')" class="banner-ttl">
        <div class="table-cell">
            <div class="wrapper-small wow animated fadeInLeft">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="tabs-link">
            {% for slide in aboutUsSlides %}
            <a data-wow-delay="0.3s" class="active wow animated fadeInUp" href="#index{{ loop.index }}">
                       <span class="fix-center">
                           <span class="center">
                               <strong>{{ slide.InnerSlide.title }}</strong>
                               <span>{{ slide.InnerSlide.subtitle }}</span>
                           </span>
                       </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="wrapp-tabs-content">
        <div class="wrapper-small">
            {% for slide in aboutUsSlides %}
            <div id="index{{ loop.index }}" class="box-tabs-content animated fadeInLeft">
                <h2 class="ttl">
                    {{ slide.InnerSlide.content_title }}
                </h2>
                <span class="sub-ttl">
                   {{ slide.InnerSlide.content_subtitle }}</span>
                <div class="wrapp-txt">
                    {{ slide.InnerSlide.content }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>