<div class="account-form clearfix">
    {{ form.create({'class':'form'}) }}
    <div class="wrapp-field">
        <fieldset>
            <div class="form-box">
                <div class="row">
                    {{ form.input('User.old_password', {'div' : false, 'type' : 'password', 'class' : 'txt', 'placeholder':'Old password', 'required':true}) }}
                </div>

                <div class="row">
                    {{ form.input('User.new_password', {'div' : false, 'type' : 'password', 'class' : 'txt', 'placeholder':'New password', 'required':true}) }}
                </div>

                <div class="row">
                    {{ form.input('User.confirm_password', {'div' : false, 'type' : 'password', 'class' : 'txt', 'placeholder':'Confirm password', 'required':true}) }}
                </div>
            </div>
            <div class="row">
                <div class="btn-holder">
                    {{ form.submit('Change password', {'class' : 'sbm'}) }}
                </div>
            </div>
        </fieldset>
    </div>
    {{ form.end() }}
</div>